* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

h1 {
  border-top: 1.6px solid black;
  padding-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  border: 3px solid #000;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.nav h1 {
  border: none;
  font-size: 28px;
  padding: 1%;
}

.nav ul {
  display: flex;
  width: 40%;
}

.nav ul li {
  list-style-type: none;
  border-right: 2px solid #000;
  width: 30%;
}

.nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.section1,
.section2,
.section3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.event {
  display: flex;
  justify-content: end;
}

h2 {
  margin-bottom: 10px;
}

.section1,
.section3 {
  height: 63vh;
  overflow-y: hidden;
}

.books-wrapper {
  list-style: none;
  width: 70vw;
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.remove {
  text-align: center;
  padding: 2px;
  height: 25px;
  cursor: pointer;
}

.books-wrapper li:nth-child(odd) {
  background-color: #999;
  color: #000;
}

.section2 {
  margin-top: 7%;
  width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
}

.books-wrapper,
.add-btn,
input,
.remove {
  border: 2px solid black;
  text-transform: capitalize;
}

form input {
  width: 40vw;
  padding: 5px;
  margin-bottom: 30px;
}

form button {
  width: 80px;
}

.separator {
  width: 300px;
  border: 1px solid #000;
  display: block;
  margin: 15px 0;
}

.short {
  width: 100px;
}

.add-btn {
  padding: 2px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  border: 3px solid #000;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 2%;
  left: 4%;
  width: 90%;
}

.hide {
  display: none;
}

.nav ul .current {
  background-color: #fff;
  color: rgb(24, 10, 233);
  border: 0.7px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 100%;
  height: 39px;
}

.nav ul .current a {
  color: #fff;
  padding: 8px;
}

#date-area {
  display: flex;
  justify-content: flex-end;
  margin: 30px 5% 0 0;
}

.nav ul .nope {
  border-right: none;
}
